@font-face {
  font-family: 'LT Soul';
  src: url('/fonts/LTSoul-Regular.woff2') format('woff2'),
       url('/fonts/LTSoul-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'LT Soul', serif, Times, 'Times New Roman';
  --bs-body-font-family: 'LT Soul', serif, Times, 'Times New Roman';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --purple-light: #c6b5e2;
  --purple: #2b2566;
  --purple-dark: #211c4e;
  --purple-muted: #664f7a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  /* Image and Gradient Background */
  background: 
    url('/images/background-stone-lg.jpeg') no-repeat center center fixed,
    linear-gradient(0deg, rgba(6, 7, 3, 1) 0%, rgba(69, 55, 111, 1) 54%, rgba(67, 81, 162, 1) 100%);
  
  /* Background settings */
  background-size: cover;
  background-blend-mode: overlay;
}

h1 {
  font-size: 5.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

#logo img {
  filter: drop-shadow(0px 0px 10px #000000);
}

.video-container {
  max-width: 95%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  border: 4px solid transparent;
  border-image: repeating-linear-gradient(
    185deg,
    rgb(94, 51, 111) 0%,
    rgb(57, 43, 69) 20%,
    rgb(51, 28, 58) 100%
  ) 4;
  box-shadow: inset 0px 0px 15px 15px rgba(0, 0, 0, 0.6), /* Inner shadow */
  0px 0px 19px rgba(0, 0, 0, 1); /* Outer shadow */
  display: block; /* Flexbox replaced to avoid shadow issues */
  position: relative; /* Necessary for inset shadows to work properly */
}

video {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  display: block; /* Removes inline element gaps */
  position: relative;
  z-index: -2;
}

.controls img {
  max-width: 54px;
}

.input-group {
  box-shadow:  0px 0px 19px rgba(0, 0, 0, .7);
  font-family: 'LT Soul', serif, Times, 'Times New Roman';
  margin-bottom: -1px;
}

input.form-control {
  background-color: var(--purple-light);
  border: 0;
  padding: 8px 10px 4px 10px;
}

.form-control::placeholder { /* Most modern browsers support this now. */
  color: #5b5368;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  text-shadow: 0px 2px 2px #333;
}
button:hover {
  border-color: var(--purple-light);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn-primary {
  border: 0;
  color: var(--purple-light);
  background-image: linear-gradient(var(--purple-muted), var(--purple));
  text-transform: uppercase;
  letter-spacing: .4px;
  padding: 8px 10px 4px 12px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.8); /* Add a dark overlay */
}

.modal-dialog {
  max-width: 90%; /* Control the modal width */
  margin: 0 auto;
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8); /* Add shadow */
}

.modal-content {
  background-color: #f4f4f8; /* Light background for the modal */
  border-radius: 10px;
  overflow: hidden; /* Ensures that child elements don't overflow */
}

.modal-header {
  background-color: var(--purple-muted); /* Custom header background */
  color: #fff; /* Text color for the header */
  border-bottom: none; /* Remove border */
}

.modal-title {
  font-family: 'LT Soul', serif; /* Custom font */
  font-size: 1.5rem; /* Adjust font size */
}

.modal-body {
  background-color: var(--purple-light);
  color: var(--purple-dark); /* Custom text color */
  font-size: 1.1rem; /* Adjust body text size */
  padding: 20px; /* Adjust padding */
}

.modal-footer {
  background-color: #e8e8f0; /* Custom footer background */
  border-top: none; /* Remove border */
}
